<app-spinner *ngIf="isLoading && this.stock.length > 0; else loaded"></app-spinner>
<ng-template #loaded>
    <div *ngIf="listStock.length > 0">
        <div class="card mt-3" *ngFor="let data of listStock">
            <div class="card-body">
                <div class="title-container mb-3" *ngIf="data.company && data.company.symbol">
                    <h3>{{data.company.description}} ({{data.company.symbol}})</h3>
                    <span class="cursor" (click)="deleteStock(data.company.symbol)">×</span>
                </div>

                <div class="container">
                    <div class="content">
                        <p>
                            Change today: {{data.change ? data.change: 0 | number:'.0-2'}}%
                        </p>
                        <p>
                            Current price: {{data.currentPrice | currency: 'USD'}}
                        </p>
                    </div>
                    <div class="content">
                        <p>
                            Opening price: {{data.openPrice | currency: 'USD'}}
                        </p>
                        <p>
                            High price: {{data.highPrice | currency: 'USD'}}
                        </p>
                    </div>

                    <div *ngIf="data.percentChange">
                        <span class="size-icon"
                            [ngStyle]="{'color': stockTrackerService.percentControl(data.percentChange) ? 'green' : 'red'}">{{stockTrackerService.arrow}}
                        </span>
                    </div>
                </div>

                <button (click)="goToSentiment(data.company)">Go to social sentiment
                    details ></button>

            </div>
        </div>
    </div>
</ng-template>