<app-spinner *ngIf="isLoading; else loaded"></app-spinner>
<ng-template #loaded>
    <div class="card mt-3">
        <div class="card-body" *ngIf="listSentiment.length > 0;else noData">
            <div class="title-container mb-3">
                <h3>{{companyName}} ({{symbol}})</h3>
            </div>
            <div class="container">
                <div class="content" *ngFor="let data of listSentiment">
                    <div>
                        <p>
                            {{data.date |date:'MMMM'}}
                        </p>
                        <p>
                            Change: {{data.change| number:'.0-2'}}
                        </p>
                        <p>
                            MSPR: {{data.mspr | number:'.0-2'}}
                        </p>
                    </div>

                    <span *ngIf="data.change" class="size-icon"
                        [ngStyle]="{'color': stockTrackerService.percentControl(data.change) ? 'green' : 'red'}">{{stockTrackerService.arrow}}
                    </span>
                </div>
            </div>


        </div>
    </div>
    <ng-template #noData>
        <div class="card-body">
            <p> No hay datos</p>
        </div>
    </ng-template>
    <button class="mt-3" (click)="goToBack()">
        < Back to list of stocks </button>
</ng-template>